<p style="color: red; text-align:center; font-size: 20px; font-family: 'Times New Roman';">QUẢNG CÁO</p>
<marquee id="marq" style="height:390px; text-align: center;" scrollamount="3" direction="down" loop="50" scrolldelay="3" onmouseover="this.stop()" onmouseout="this.start()">
    <a href="#"><img src="/ckfinder/userfiles/images/Ads/ADS1.png" title="Ghi chú cho ảnh" width="230"/> </a>
    <a href="#"><img src="/ckfinder/userfiles/images/Ads/ADS2.png" title="Ghi chú cho ảnh" width="230"/> </a>
    <a href="#"><img src="/ckfinder/userfiles/images/Ads/ADS3.png" title="Ghi chú cho ảnh" width="230"/> </a>
    <a href="#"><img src="/ckfinder/userfiles/images/Ads/ADS4.png" title="Ghi chú cho ảnh" width="230"/> </a>
    <a href="#"><img src="/ckfinder/userfiles/images/Ads/ADS5.png" title="Ghi chú cho ảnh" width="230"/> </a>
    <a href="#"><img src="/ckfinder/userfiles/images/Ads/ADS6.png" title="Ghi chú cho ảnh" width="230"/> </a>
</marquee>