@model WebMVCApplication.ServiceReferenceShopBanGiayPro.sanpham

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tieude-content">Kết quả đặt hàng</div>
    <div class="content-left-shopping">
    <h1 style="text-align: center;"><b style="font-size: 25px; color: red;">Đặt hàng thành công!</b></h1>
</div>
